static_processor_group/diksha_aws.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>7e203cd3-018a-1000-ed05-bb07d8ff917b</groupId>
    <name>diksha_aws</name>
    <snippet>
        <processGroups>
            <id>5693cb84-3bb8-3a38-0000-000000000000</id>
            <parentGroupId>0220e898-0ab5-36bf-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>001b32e9-4de0-34a9-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>5d7853f8-69ef-3dee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>ad9a5dae-c2c9-3389-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0b0d2cbc-51e0-3df1-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>c9b3ab28-c12e-3166-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>6b185a3c-243d-3d08-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1110f6a3-7663-3a97-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>982bbe71-8684-320d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>ac9dbe61-2323-33a8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2d2d9544-d5cb-37f1-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>6b185a3c-243d-3d08-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>982bbe71-8684-320d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2dfbcdd7-5f44-3179-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2248.0</x>
                        <y>768.0</y>
                    </bends>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cec0b34c-12c9-3a8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>982bbe71-8684-320d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>41acdf3b-5ee1-3b8b-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2256.0</x>
                        <y>-344.0</y>
                    </bends>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cec0b34c-12c9-3a8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>11feb852-e263-3dd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>44f40bdd-e2ed-3639-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>482afe8e-4f84-3d7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cde400fa-ffa5-3b1c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>63716741-4bef-3fb9-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>f1949f59-8fcf-38e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>00bbe576-8d62-30d2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66d1011d-00d1-3263-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>63992491-6f71-3982-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>46e8cfc4-3e04-3f8f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6724fd8b-ef53-300e-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>ac9dbe61-2323-33a8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>5d7853f8-69ef-3dee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>77a22096-0ac0-33d0-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>11feb852-e263-3dd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>63992491-6f71-3982-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7b97b111-fc68-3b38-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>305c7ee1-6958-3bb9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>11feb852-e263-3dd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8be34acd-852e-32f2-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>80.0</x>
                        <y>952.0</y>
                    </bends>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>6b185a3c-243d-3d08-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>a7f9ca40-670a-3888-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9aeefec2-7264-3357-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2248.0</x>
                        <y>680.0</y>
                    </bends>
                    <bends>
                        <x>2248.0</x>
                        <y>632.0</y>
                    </bends>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cec0b34c-12c9-3a8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>a7f9ca40-670a-3888-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a4e90126-9ce2-374d-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>b4553ebe-572b-364a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>305c7ee1-6958-3bb9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c15fe13a-069a-3f82-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>00bbe576-8d62-30d2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>c9b3ab28-c12e-3166-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c27b4e3e-86fb-30f3-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>ad9a5dae-c2c9-3389-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>filename</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>b4553ebe-572b-364a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cb1151b9-a1eb-3ea7-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>ac9dbe61-2323-33a8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cde400fa-ffa5-3b1c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cb589f21-1e95-3a27-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2248.0</x>
                        <y>1472.0</y>
                    </bends>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cec0b34c-12c9-3a8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>00bbe576-8d62-30d2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d2ee894a-1baf-38de-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>a7f9ca40-670a-3888-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>482afe8e-4f84-3d7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e7715f09-96e2-3f55-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>cde400fa-ffa5-3b1c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>filename</selectedRelationships>
                    <source>
                        <groupId>5693cb84-3bb8-3a38-0000-000000000000</groupId>
                        <id>ad9a5dae-c2c9-3389-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>0e02164c-b664-3b91-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>16.0</x>
                        <y>-776.0</y>
                    </position>
                    <height>48.0</height>
                    <label>DATA Ingestion
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>200.0</width>
                </labels>
                <labels>
                    <id>243edbd2-6e8e-3edc-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>-184.0</x>
                        <y>-872.0</y>
                    </position>
                    <height>2632.0</height>
                    <label></label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#faedfa</value>
                        </entry>
                    </style>
                    <width>1616.0</width>
                </labels>
                <labels>
                    <id>282a501a-1d4a-3d92-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>-664.0</x>
                        <y>-1024.0</y>
                    </position>
                    <height>112.0</height>
                    <label>

        
        NAS AWS</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ebf9fa</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>432.0</width>
                </labels>
                <processors>
                    <id>00bbe576-8d62-30d2-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>1400.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>diksha_ingest.sh</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>bash</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/opt/nifi/nifi-current/program_scripts/</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>run_yarn_cli</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>11feb852-e263-3dd0-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>-400.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Version</key>
<value>
    <name>Version</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>s3-cqube-edu</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-south-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Version</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchS3Object_aws</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
                </processors>
                <processors>
                    <id>305c7ee1-6958-3bb9-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>-224.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${original_filename}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>46e8cfc4-3e04-3f8f-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>-856.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>min-age</key>
<value>
    <name>min-age</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>
    <name>write-s3-object-tags</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>
    <name>write-s3-user-metadata</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>delimiter</key>
<value>
    <name>delimiter</name>
</value>
                            </entry>
                            <entry>
<key>prefix</key>
<value>
    <name>prefix</name>
</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>
    <name>use-versions</name>
</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>
    <name>list-type</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>s3-cqube-edu</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-south-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>min-age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>false</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>delimiter</key>
                            </entry>
                            <entry>
<key>prefix</key>
<value>process_input/diksha/</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>1</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>* * * * * ?</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListS3Files</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.ListS3</type>
                </processors>
                <processors>
                    <id>482afe8e-4f84-3d7c-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>-88.0</x>
                        <y>440.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>
    <name>program_name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfterLast('/')}</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>${filename:substringBefore('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_program_name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>5d7853f8-69ef-3dee-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>280.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>
    <name>directory</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>/opt/nifi/nifi-current/Sunbird-cQube-processing-ms/impl/c-qube/ingest/VSK/programs/</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfter('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_program_directory</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>63992491-6f71-3982-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>-592.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>original_filename</key>
<value>
    <name>original_filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>original_filename</key>
<value>${filename}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6b185a3c-243d-3d08-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>960.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>TAR</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Filename</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>982bbe71-8684-320d-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>720.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>${directory}${program_name}/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>download_file</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>a7f9ca40-670a-3888-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>-96.0</x>
                        <y>640.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>${directory}</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>download_file</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>ac9dbe61-2323-33a8-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>520.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>
    <name>program_name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfterLast('/')}</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>${filename:substringBefore('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_program_name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>ad9a5dae-c2c9-3389-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>-80.0</x>
                        <y>8.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:contains('dimension')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>filename</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>b4553ebe-572b-364a-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.0</x>
                        <y>8.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:contains(${now():format('dd-MMM-yyyy')})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>filename</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>c9b3ab28-c12e-3166-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>1176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>filename</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>cde400fa-ffa5-3b1c-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>-88.0</x>
                        <y>240.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>
    <name>directory</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>/opt/nifi/nifi-current/Sunbird-cQube-processing-ms/impl/c-qube/ingest/VSK/dimensions/</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfter('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_dimension_directory</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>cec0b34c-12c9-3a8d-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>2080.0</x>
                        <y>32.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>error while processing the ${filename}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ErrorMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>f1949f59-8fcf-38e0-0000-000000000000</id>
                    <parentGroupId>5693cb84-3bb8-3a38-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>1584.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Successfully!! ingested the ${filename} data</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SuccessLogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>diksha_aws</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/12/2023 12:29:12 IST</timestamp>
</template>
