static_processor_group/Run_Latest_Code_local.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>bfc4048b-0186-1000-6795-c60a4605ac5f</groupId>
    <name>Run Latest Code local</name>
    <snippet>
        <processGroups>
            <id>097c7200-cd38-3157-0000-000000000000</id>
            <parentGroupId>c8f81397-471e-3fb5-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>06e64de3-8519-30a0-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>b881fae0-cfc0-32e5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ff4ebfd5-17c8-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>176b5840-5ef5-3cbf-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ff4ebfd5-17c8-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>6d65afff-c88c-37f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c082b77-0d6b-3f02-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>816bfe8e-481a-3caa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>a2f7bbfe-1aa5-3587-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>25122260-0682-39d0-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>db7b0301-0672-3b53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>1485a16a-d8cc-344d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>27f19d27-ff65-3bdb-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>281f8d13-b0d6-3b55-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>7a355f2d-2ccc-3f2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2dbbc104-82a4-327b-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>e4647323-38b9-339e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>filename</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ed8dcdf0-6f74-3c68-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>431ed442-bb5d-3d47-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>a2f7bbfe-1aa5-3587-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>9323a856-5967-35b6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>494c1ed7-8063-3dfe-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>b881fae0-cfc0-32e5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>db7b0301-0672-3b53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>53199b56-7802-368a-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>6d65afff-c88c-37f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>816bfe8e-481a-3caa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f7d12db-64db-398f-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>b881fae0-cfc0-32e5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>7a355f2d-2ccc-3f2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>739e9f5c-db24-3035-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>4b2deaf1-a179-39c0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>e4647323-38b9-339e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7480153d-e1a7-33b2-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>1485a16a-d8cc-344d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>4b2deaf1-a179-39c0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7e64e827-1396-3207-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>7a355f2d-2ccc-3f2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ce7f5963-37ed-3843-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>91682bf3-e887-3b92-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ed8dcdf0-6f74-3c68-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>281f8d13-b0d6-3b55-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a3e04905-d635-38a7-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>af09e56e-a735-37c9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ff4ebfd5-17c8-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c4a8d8ab-0f0a-3445-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>6d65afff-c88c-37f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>db7b0301-0672-3b53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e15620ae-6454-3aab-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>ce7f5963-37ed-3843-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>cbef9267-5fac-3f59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ef4489a5-1a0f-3372-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>9323a856-5967-35b6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>filename</selectedRelationships>
                    <source>
                        <groupId>097c7200-cd38-3157-0000-000000000000</groupId>
                        <id>e4647323-38b9-339e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>61ab5adb-ad61-3823-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-416.0</x>
                        <y>-1160.0</y>
                    </position>
                    <height>2304.0</height>
                    <label></label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f5ebf5</value>
                        </entry>
                    </style>
                    <width>1256.0</width>
                </labels>
                <labels>
                    <id>b0ae27dc-4682-3e72-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-784.0</x>
                        <y>-1304.0</y>
                    </position>
                    <height>112.0</height>
                    <label>

        
                LOCAL</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ebf9fa</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>320.0</width>
                </labels>
                <labels>
                    <id>cd9a1b77-f816-3ce4-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-216.0</x>
                        <y>-1056.0</y>
                    </position>
                    <height>48.0</height>
                    <label>DATA Ingestion
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>200.0</width>
                </labels>
                <processors>
                    <id>1485a16a-d8cc-344d-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>120.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>
    <name>program_name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfterLast('/')}</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>${filename:substringBefore('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_program_name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>281f8d13-b0d6-3b55-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-504.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>original_filename</key>
<value>
    <name>original_filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${original_filename}</value>
                            </entry>
                            <entry>
<key>original_filename</key>
<value>${filename}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>4b2deaf1-a179-39c0-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-56.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>
    <name>directory</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>/opt/nifi/nifi-current/Sunbird-cQube-grammar-ms-178386a/c-qube/ingest/programs/</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfter('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_directory</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6d65afff-c88c-37f6-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>528.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Filename</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>7a355f2d-2ccc-3f2e-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-760.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Version</key>
<value>
    <name>Version</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>minio-bucket</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-south-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Version</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http:localhost:9090</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchS3Object_local</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
                </processors>
                <processors>
                    <id>816bfe8e-481a-3caa-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-288.0</x>
                        <y>520.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>${directory}/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>download_file</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>9323a856-5967-35b6-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-288.0</x>
                        <y>144.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>
    <name>directory</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>/opt/nifi/nifi-current/Sunbird-cQube-grammar-ms-178386a/c-qube/ingest/dimensions/</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfter('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_directory</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>a2f7bbfe-1aa5-3587-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-288.0</x>
                        <y>344.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>
    <name>program_name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringAfterLast('/')}</value>
                            </entry>
                            <entry>
<key>program_name</key>
<value>${filename:substringBefore('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>update_program_name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>af09e56e-a735-37c9-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>912.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Successfully!! ingested the ${filename} data</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SuccessLogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>b881fae0-cfc0-32e5-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>1208.0</x>
                        <y>128.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>error while processing the ${filename}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ErrorMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>cbef9267-5fac-3f59-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-1120.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>min-age</key>
<value>
    <name>min-age</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>
    <name>write-s3-object-tags</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>
    <name>write-s3-user-metadata</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>delimiter</key>
<value>
    <name>delimiter</name>
</value>
                            </entry>
                            <entry>
<key>prefix</key>
<value>
    <name>prefix</name>
</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>
    <name>use-versions</name>
</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>
    <name>list-type</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>minio-bucket</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-south-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>min-age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>false</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http:localhost:9090</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>delimiter</key>
                            </entry>
                            <entry>
<key>prefix</key>
<value>process_input/</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>1</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 32 10 * * ?</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>Listlocal</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.ListS3</type>
                </processors>
                <processors>
                    <id>ce7f5963-37ed-3843-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-936.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>original_filename</key>
<value>
    <name>original_filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>original_filename</key>
<value>${filename}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>db7b0301-0672-3b53-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>320.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>${directory}${program_name}/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>download_file</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>e4647323-38b9-339e-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>-288.0</x>
                        <y>-40.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:contains('dimension')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>filename</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>ed8dcdf0-6f74-3c68-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-280.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:contains(${now():format('dd-MMM-yyyy')})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>filename</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>ff4ebfd5-17c8-3688-0000-000000000000</id>
                    <parentGroupId>097c7200-cd38-3157-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>720.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>cqube-ingest.sh</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>bash</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/opt/nifi/nifi-current</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>run_yarn_cli</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Run Latest Code local</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/20/2023 13:24:11 IST</timestamp>
</template>
